layout {
  tab focus=true {
    pane size="1" borderless=true {
        plugin location="zellij:compact-bar"
    }
    pane size="90%" split_direction="horizontal" {
        pane cwd="/works/workspace/myProject"
        pane size="15" split_direction="vertical" {
          pane cwd="/works/workspace/myProject"
          pane cwd="/works/workspace/myProject"
        }
    }
  }
  tab {
    pane size="1" borderless=true {
        plugin location="zellij:compact-bar"
    }
    pane
  }
}
